{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
    "browser": true
  },
  "root": true,
  "extends": ["airbnb-base", "plugin:markdown/recommended", "plugin:jsonc/recommended-with-jsonc", "@serverless/eslint-config/node"],
  "plugins": ["markdown"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-console": "warn",
    "import/no-extraneous-dependencies": "off",
    "quotes": ["error", "backtick"],
    "indent": "error",
    "jsonc/auto": "error",
    "jsonc/comma-dangle": ["error", "never"]
  },
  "overrides": [
    {
      "files": ["**/*.md"],
      "processor": "markdown/markdown"
    },
    {
      "files": ["**/*.md/*.js"]
    },
    {
      "files": ["*.json"],
      "parser": "jsonc-eslint-parser"
    }
  ]
}
