{
  "*.js": [
    "prettier --write --ignore-unknown",
    "eslint --fix"
  ],
  "*.json": [
    "eslint --ext .json . --fix"
  ],
  "**/serverless.yaml": [
    "npm run lint:updated && npm run prettier-check:updated"
  ]
}
